* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;

}
.custom-shape-divider-bottom-1718293970 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718293970 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 118px;
    
}

.custom-shape-divider-bottom-1718293970 .shape-fill {
    fill: #3BB795;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
   

}

.left {
    height: 450px;
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}

.left h1 {
    color: #3bb795;
    
    margin-left: 90px;
    font-size: 35px;
}

.details {
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;


}

.details input {
    padding: 10px 90px;
    background-color: #f5f9f8;
    border: none;
    margin-top: 20px;
}

.aggrement {
    margin-top: 50px;
    margin-left: 50px;


}

.aggrement label {
    margin-left: 15px;
}

.submit {
    margin-top: 30px;

}

.submit button {
    padding: 13px 50px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #3bb795;
    cursor: pointer;
    margin-left: 100px;

}

.existacc {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.existacc button {
    border: none;
    background-color: white;
    font-weight: bold;
    color: #3bb795;
    cursor: pointer;

}

/* ---------------right------------- */
.right {
    height: 450px;
    margin-top: 10px;
    border: 1px solid black;
    width: 400px;
    background-color: #3bb795;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;




}

.right h1 {
    margin-left: 50px;
    /* font-size: 40px; */
font-size: 2rem;

}


.right p {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 290px;
    margin-left: 50px;
}

.right h2 {
    margin-top: 50px;
    margin-left: 50px;


}
.emptyError{
    color: red;
    margin-top: 10px;
    width: 250px;
 
}
